body {
    font-family: Arial, sans-serif;
    background: #e8ffe8;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

.competitorBox {
    background: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
}

.playerItem {
    display: flex;
    justify-content: space-between;
    margin: 3px 0;
}
.playerItem span {
    font-weight: bold;
}
.playerItem button {
    background: red;
    color: white;
    border: none;
    padding: 3px 6px;
    border-radius: 4px;
}

input {
    padding: 5px;
}
